# EDA
Add Description here

In [41]:
# Import packages
import pprint 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [42]:
# Load data and summary
train = pd.read_csv('train.csv')
print('colunms: ', train.columns.to_list())
train

colunms:  ['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name', 'Transported']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [43]:
#Size of dataset
print('Size of table: ', train.shape)
print('Number of tranported: ', train.Transported.sum())
print('Tranported rate: ', round(train.Transported.sum()/train.Transported.count(),3)*100,'%')

Size of table:  (8693, 14)
Number of tranported:  4378
Tranported rate:  50.4 %

It's a balanced data set with enough numbers of rows

In [44]:
# split PassengerId, Cabin, Name, and add TotalSpending
train['PassengerGroup'] = train['PassengerId'].apply(lambda x: int(x.split('_')[0]))
train['PassengerNum'] = train['PassengerId'].apply(lambda x: int(x.split('_')[1]))
train['CabinDeck'] = train['Cabin'].apply(lambda x: str(x).split('/')[0] if bool(re.search('[A-Za-z]/[0-9]+/[A-Za-z]', str(x))) else x)
train['CabinNum'] = train['Cabin'].apply(lambda x: str(x).split('/')[1] if bool(re.search('[A-Za-z]/[0-9]+/[A-Za-z]', str(x))) else x).astype(int, errors='ignore')
train['CabinSide'] = train['Cabin'].apply(lambda x: str(x).split('/')[2] if bool(re.search('[A-Za-z]/[0-9]+/[A-Za-z]', str(x))) else x)
train['FirstName'] = train['Name'].apply(lambda x: str(x).split()[0] if len(str(x)) > 0 else x)
train['LastName'] = train['Name'].apply(lambda x: str(x).split()[1] if len(str(x).split()) > 1 else x)
train['TotalSpend'] = train['RoomService'] + train['FoodCourt'] + train['ShoppingMall'] + train['Spa'] + train['VRDeck']
train['RoomService'] = train['RoomService'].apply(lambda x: np.log(x+1))
train['FoodCourt'] = train['FoodCourt'].apply(lambda x: np.log(x+1))
train['ShoppingMall'] = train['ShoppingMall'].apply(lambda x: np.log(x+1))
train['Spa'] = train['Spa'].apply(lambda x: np.log(x+1))
train['VRDeck'] = train['VRDeck'].apply(lambda x: np.log(x+1))
train['TotalSpend'] = train['TotalSpend'].apply(lambda x: np.log(x+1))
print('colunms: ', train.columns.to_list())
train

colunms:  ['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name', 'Transported', 'PassengerGroup', 'PassengerNum', 'CabinDeck', 'CabinNum', 'CabinSide', 'FirstName', 'LastName', 'TotalSpend']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Name,Transported,PassengerGroup,PassengerNum,CabinDeck,CabinNum,CabinSide,FirstName,LastName,TotalSpend
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.000000,0.000000,0.000000,...,Maham Ofracculy,False,1,1,B,0,P,Maham,Ofracculy,0.000000
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,4.700480,2.302585,3.258097,...,Juanna Vines,True,2,1,F,0,S,Juanna,Vines,6.602588
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,3.784190,8.182280,0.000000,...,Altark Susent,False,3,1,A,0,S,Altark,Susent,9.248021
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.000000,7.157735,5.918894,...,Solam Susent,False,3,2,A,0,S,Solam,Susent,8.551981
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,5.717028,4.262680,5.023881,...,Willy Santantines,True,4,1,F,1,S,Willy,Santantines,6.995766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.000000,8.827615,0.000000,...,Gravior Noxnuther,False,9276,1,A,98,P,Gravior,Noxnuther,9.052165
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.000000,0.000000,0.000000,...,Kurta Mondalley,False,9278,1,G,1499,S,Kurta,Mondalley,0.000000
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.000000,0.000000,7.535297,...,Fayey Connon,True,9279,1,G,1500,S,Fayey,Connon,7.535830
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.000000,6.956545,0.000000,...,Celeon Hontichre,False,9280,1,E,608,S,Celeon,Hontichre,8.442039
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,4.844187,8.452975,0.000000,...,Propsh Hontichre,True,9280,2,E,608,S,Propsh,Hontichre,8.481980

In [51]:
# hist_column =  ['HomePlanet', 'CryoSleep', 'Destination', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'PassengerGroup', 'PassengerNum', 'CabinDeck', 'CabinNum', 'CabinSide', 'TotalSpend']
# num_fig = len(hist_column)
# fig, axs = plt.subplots(4,4, figsize = (10,10))
# axs.flatten()
# for i, column_name in enumerate(hist_column):
#     axs[i] = sns.histplot(data=train, x=column_name)