In [22]:
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [10]:
df = pd.read_csv('train.csv')

In [11]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [25]:
print('percentage of NA in each columns')
df.isna().sum()/df.shape[0]*100

percentage of NA in each columns

PassengerId     0.000000
HomePlanet      2.312205
CryoSleep       2.496261
Cabin           2.289198
Destination     2.093639
Age             2.059128
VIP             2.335212
RoomService     2.082135
FoodCourt       2.105142
ShoppingMall    2.392730
Spa             2.105142
VRDeck          2.162660
Name            2.300702
Transported     0.000000
dtype: float64

In [37]:
for item in df.columns:
    print(f'{item} :',df[item].unique(), f', #{len(df[item].unique())}' )

PassengerId : ['0001_01' '0002_01' '0003_01' ... '9279_01' '9280_01' '9280_02'] , #8693
HomePlanet : ['Europa' 'Earth' 'Mars' nan] , #4
CryoSleep : [False True nan] , #3
Cabin : ['B/0/P' 'F/0/S' 'A/0/S' ... 'G/1499/S' 'G/1500/S' 'E/608/S'] , #6561
Destination : ['TRAPPIST-1e' 'PSO J318.5-22' '55 Cancri e' nan] , #4
Age : [39. 24. 58. 33. 16. 44. 26. 28. 35. 14. 34. 45. 32. 48. 31. 27.  0.  1.
 49. 29. 10.  7. 21. 62. 15. 43. 47.  2. 20. 23. 30. 17. 55.  4. 19. 56.
 nan 25. 38. 36. 22. 18. 42. 37. 13.  8. 40.  3. 54.  9.  6. 64. 67. 61.
 50. 41. 57. 11. 52. 51. 46. 60. 63. 59.  5. 79. 68. 74. 12. 53. 65. 71.
 75. 70. 76. 78. 73. 66. 69. 72. 77.] , #81
VIP : [False True nan] , #3
RoomService : [   0.  109.   43. ... 1569. 8586.  745.] , #1274
FoodCourt : [   0.    9. 3576. ... 3208. 6819. 4688.] , #1508
ShoppingMall : [   0.   25.  371. ... 1085.  510. 1872.] , #1116
Spa : [   0.  549. 6715. ... 2868. 1107. 1643.] , #1328
VRDeck : [   0.   44.   49. ... 1164.  971. 3235.] , #1307
Name : ['Maham Ofracculy' 'Juanna Vines' 'Altark Susent' ... 'Fayey Connon'
 'Celeon Hontichre' 'Propsh Hontichre'] , #8474
Transported : [False  True] , #2

In [23]:
from collections import defaultdict
d = defaultdict(LabelEncoder)

In [24]:
fit = df.apply(lambda x: d[x.name].fit_transform(x))
fit

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0,1,0,149,2,39,0,0,0,0,0,0,5252,0
1,1,0,0,2184,2,24,0,109,9,25,456,44,4502,1
2,2,1,0,1,2,58,1,43,1206,0,1273,49,457,0
3,3,1,0,1,2,33,0,0,806,332,1132,187,7149,0
4,4,0,0,2186,2,16,0,277,69,149,470,2,8319,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,8688,1,0,146,0,41,1,0,1389,0,932,74,3524,0
8689,8689,0,1,5280,1,18,0,0,0,0,0,0,4780,0
8690,8690,0,0,5285,2,26,0,0,0,972,1,0,3002,1
8691,8691,1,0,2131,0,32,0,0,739,0,321,1113,1596,0
8692,8692,1,0,2131,2,44,0,124,1312,0,0,12,6380,1